<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">        
        <link rel="stylesheet" href="/index.css">
        
        <meta http-equiv="refresh" content="3; URL=https://discord.com/api/oauth2/authorize?client_id=804289381141446666&redirect_uri=http%3A%2F%2Flocalhost%3A8000&response_type=code&scope=identify%20guilds">
        
        <link rel="icon" href="<%= bot.avatar %>" />
        
        <title><%= bot.name %> | Login</title>
        
        <meta property="og:type" content="website">
		<meta property="og:site_name" content="MultiBot Website">
		<meta property="og:title" content="MultiBot">
		<meta property="og:description" content="Site du bot multifonctions MultiBot">
		<meta property="og:image" content="https://cdn.discordapp.com/avatars/804289381141446666/d319f0dd0b98a890c76cd1b380a05404.png">
		<meta name="twitter:card" content="summary_large_image">
    </head>
    <body>
        <!--HEADER-->
        <%- include('header'); -%>
        
        <!--MAIN BODY-->
        <div class="d-flex justify-content-center head">
            <h1><b>MultiBot, bot multifonctions pour votre serveur.</b></h1>
        </div>
        <div class="d-flex justify-content-center subtext">
            <p>Redirection sur la page de connexion dans 3 secondes.</p>
        </div>
        

       <!--JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>